
<div class="adminme">
    <form method="post">
        <div class="panel admin-panel">
            <table class="table table-hover">
                <tr>
                    <th width="60">number</th>
                    <th width="120">Subject direction</th>
                    <th width="140">Topic title</th>
                    <th width="*">Subject content</th>
                    <th width="140">adviser</th>
                    <th width="120">operate</th>
                </tr>
                <volist name="meGpList" id="index">
                <tr>
                    <td>{$index.gpId}</td>
                    <td>
                        {$index.gpSHState}
                    </td>
                    <td>{$index.gpTitle}</td>
                    <td>{$index.gpContent}</td>
                    <td>{$index.thrRealName}</td>
                    <td>
                        <input type="hidden" name="id" value="{$index.gpId}"/>
                        <if condition="$index['sstate'] eq 1">
                        <a class="button border-green button-little dialogs" name="tuixuan" href="#" data-toggle="click" data-target="#mydialog" data-mask="1" data-width="30%">Withdraw from election</a>
                        <elseif condition="$index['sstate'] eq 2"/>
                        <a class="button border-green button-little" href="javascript:window.location.href='{:U('Student/detail')}'">Has been determined</a>
                        <elseif condition="$index['sstate'] eq 3"/>
                        <a class="button border-red button-little dialogs" name="shanchu" href="#" data-toggle="click" data-target="#myshanchudialog" data-mask="1" data-width="30%">Delete (abandoned)</a>
                        </if>
                    </td>
                </tr>
                </volist>
                </table>
           <!--  <div class="panel-foot text-center">
                page
            </div> -->
        </div>
    </form>  
    <p class="text-right text-gray">Based on<a class="text-gray" target="_blank" href="#"> Team05 </a>build </p>
</div>

<div id="mydialog"> 
    <div class="dialog"> 
        <div class="dialog-head"> 
            <span class="close rotate-hover"></span> 
            <strong>Proposal operation</strong> 
        </div> 
        <div class="dialog-body">
            <div class="form-group">
                <p>Are you sure you want to withdraw from this topic？</p>
                <p>O(∩_∩)O~~</p>
            </div>
            <input type="button" class="button bg-main" value="choose" onclick="javascript:tuixuan();" />
            <button class="button bg-yellow" type="reset">Think again</button>
        </div> 
    </div> 
</div>
<div id="myshanchudialog"> 
    <div class="dialog"> 
        <div class="dialog-head"> 
            <span class="close rotate-hover"></span> 
            <strong>Proposal operation</strong> 
        </div> 
        <div class="dialog-body">
            <div class="form-group">
                <p>Do you want to delete the subject?</p>
                <p>O(∩_∩)O~~</p>
            </div>
            <input type="button" class="button bg-main" value="delete" onclick="javascript:shanchu();" />
            <button class="button bg-yellow" type="reset">Think again</button>
        </div> 
    </div> 
</div>
<script>
    var ID = null;
    function tuixuan(){
        window.location.href = "{:U('Student/tuixuan/id/" + ID + "')}";
    }
    function shanchu(){
        window.location.href = "{:U('Student/shanchu/id/" + ID + "')}";
    }
    $(function(){
        $(".table a[name='tuixuan']").click(function(){
            ID = $(this).parent().find("input[name='id']").val();
        });
        $(".table a[name='shanchu']").click(function(){
            ID = $(this).parent().find("input[name='id']").val();
        });
    });
</script>