<div class="admin">
    <div class="line-big">
        <div class="xm3">
            <div class="panel border-back">
                <div class="panel-body text-center">
                    <img src="__IMG__/sex_a.jpg" width="120" class="radius-circle" /><br />
                    admin
                </div>
                <div class="panel-foot bg-back border-back">&nbsp;<br/>Hi，<?php echo session("NAME"); ?><br/>&nbsp;</div>
            </div>
            <br />
            <div class="panel">
                <div class="panel-head"><strong>Site statistics</strong></div>
                <ul class="list-group">
                    <li><span class="float-right badge bg-red">{$CLists.usr}</span><span class="icon-user"></span> User</li>
                    <li><span class="float-right badge bg-main">{$CLists.teacher}</span><span class="icon-file"></span> Teacher</li>
                    <li><span class="float-right badge bg-main">{$CLists.student}</span><span class="icon-shopping-cart"></span> Student</li>
                    <li><span class="float-right badge bg-main">{$CLists.message}</span><span class="icon-file-text"></span> Message</li>
                    <li><span class="float-right badge bg-main">{$CLists.gp}</span><span class="icon-database"></span> project of Team05</li>
                </ul>
            </div>
            <br />
        </div>
        <div class="xm9">
            <div class="alert alert-yellow"><span class="close"></span><strong>Attention：</strong>You have 0 unread messages，<a href="#">click to view</a>。</div>
            <div class="alert">
                <h4>proposal manage system introduction</h4>
                <p class="text-gray padding-top">proposal manage system，dynamic website technology<br/>Gathering teacher infomation、student infomation、proposal infomation and relavant date，方便 admin manage data quickly </p>
                <?php if(session("state") != 3): ?>
                <a target="_blank" class="button bg-dot icon-user" href="{:U('Teacher/index')}"> Teacher manage </a> 
                <?php endif; ?>
                <?php if(session("state") != 2): ?>
                <a target="_blank" class="button bg-main icon-file-text" href="{:U('Student/index')}"> Student manage </a>
                <?php endif; ?>
                <?php if(session("state") == 1): ?>
                <a target="_blank" class="button border-main icon-code" href="{:U('Design/index')}"> Proposal manage </a>
                <?php endif; ?>
            </div>
            <div class="panel">
                <div class="panel-head"><strong>system infomation</strong></div>
                <table class="table">
                    <tr><th colspan="2"> Servers infomation</th><th colspan="2">system infomation</th></tr>
                    <tr>
                        <td width="120" align="right">Operating system：</td>
                        <td>{$system['os']}</td>
                        <td width="120" align="right">Web Servers：</td>
                        <td>{$system['web_os']}</td>
                    </tr>
                    <tr>
                        <td align="right">Index：</td>
                        <td><a href="#" target="_blank">{$system['domainname']}</a></td>
                        <td align="right">IP：</td>
                        <td>{$system['ip']}</td>
                    </tr>
                    <tr>
                        <td align="right">Progamming Language：</td>
                        <td>{$system['language']}</td>
                        <td align="right">Language：</td>
                        <td><a href="#" target="_blank">{$system['php_version']}</a></td>
                    </tr>
                    <tr>
                        <td align="right">Data form：</td>
                        <td>{$system['db_os']}</td>
                        <td align="right">Library version：</td>
                        <td>{$system['db_version']}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <p class="text-right text-gray">Based on<a class="text-gray" target="_blank" href="#"> Team05 </a>build </p>
</div>