<div class="adminme">
    <div class="line-big">
        <div class="xm3">
            <div class="panel border-back">
                <div class="panel-body text-center">
                    <img src="__IMG__/sex_<?php echo session("SEX") == 1 ? 'a' : 'n';?>.jpg" width="120" class="radius-circle" /><br />{$usrName}
                </div>
                <div class="panel-foot bg-back border-back">&nbsp;<br/>Welcome，{$usrName} <br>&nbsp;</div>
            </div>
            <br />
            <div class="panel">
                <div class="panel-head"><strong>Site statistics</strong></div>
                <ul class="list-group">
                    <li><span class="float-right badge bg-red">1</span><span class="icon-user"></span> User</li>
                    <li><span class="float-right badge bg-main">{$msgCount}</span><span class="icon-file"></span> Message</li>
                </ul>
            </div>
            <br />
        </div>
        <div class="xm9">
            <div class="alert alert-yellow"><span class="close"></span><strong>Attention:</strong>You have{$msgCount}Messages，<a href="{:U('Student/msg')}">Click to view</a>。</div>
            <div class="alert">
                <h4>Student Proposal Management System</h4>
                <p class="text-gray padding-top">Project management system, dynamic website technology<br/>Collect student information, subject information and other related data to facilitate students to manage data in real time</p>
                <a target="_blank" class="button bg-dot icon-user" href="{:U('Student/person')}">Personal Information</a> 
                <a target="_blank" class="button bg-main icon-file-text" href="{:U('Student/bslist')}"> Proposal management</a> 
            </div>
        </div>
    </div>
    <p class="text-right text-gray">Based on<a class="text-gray" target="_blank" href="#">Team05</a>build   </p>
</div>