
<div class="adminme">
    <div class="panel admin-panel">
        <div class="panel-head"><strong>Content list</strong></div>
        <div class="padding border-bottom">
            <a class="button button-small border-green dialogs disabled" <?php echo $ff['thrId'] != null ? '' : 'disabled="disabled"';?> name="addmsg" href="#" data-toggle="click" data-target="#mymsgdialog" data-mask="1" data-width="50%">Add new message</a>
        </div>
        <table class="table table-hover">
            <tr>
                <th width="60">number</th>
                <th width="140">Information time</th>
                <th width="120">sender of a letter</th>
                <th width="120">addressee</th>
                <th width="*">Information content</th>
                <th width="100">operate</th>
            </tr>
            <volist name="adminList" id="index">
            <tr class="red">
                <td>{$index.msgId}</td>
                <td>{$index.createTime|date="m-d i:m:s",###}</td>
                <td>administrator</td>
                <td>All students</td>
                <td>{$index.msgContent}</td>
                <td>
                    <!-- <input type="hidden" name="id" value="{$index.msgId}"/> -->
                    <!-- <a class="button border-red button-little dialogs" name="del" href="#" data-toggle="click" data-target="#mydeldialog" data-mask="1" data-width="30%">delete</a> -->
                    no-operation
                </td>
            </tr>
            </volist>
            <!-- Upstairs is the news of the administrator -->
            <volist name="List" id="index">
            <tr>
                <td>{$index.msgId}</td>
                <td>{$index.createTime|date="m-d i:m:s",###}</td>
                <td>
                    <?php 
                        if($index['msgFromId'] == $ff['thrId']){
                            echo $ff['thrRealName'];
                        }else{
                            echo $usrName;
                        }
                    ?>
                </td>
                <td>
                    <?php 
                        if($index['msgAccessId'] == $ff['thrId']){
                            echo $ff['thrRealName'];
                        }else{
                            echo $usrName;
                        }
                    ?>
                </td>
                <td>{$index.msgContent}</td>
                <td>
                    <input type="hidden" name="id" value="{$index.msgId}"/>
                    <a class="button border-green button-little dialogs" name="del" href="#" data-toggle="click" data-target="#mydeldialog" data-mask="1" data-width="30%">delete</a>
                </td>
            </tr>
            </volist>
            </table>
        <div class="panel-foot text-center">
            {$page}
        </div>
    </div>
    <p class="text-right text-gray">Based<a class="text-gray" target="_blank" href="#">Team05</a>build   </p>
</div>

<div id="mymsgdialog"> 
    <div class="dialog"> 
        <div class="dialog-head"> 
            <span class="close rotate-hover"></span> 
            <strong>Add new message</strong> 
        </div> 
        <div class="dialog-body">
            <form action="{:U('Student/addMsg')}" method="post">
                <div class="form-group">
                    <div class="label"><label for="receive">addressee：</label></div>
                    <div class="field">
                        <input type="hidden" id="receive" name="receive" value="{$ff.thrId}" />
                        <input type="text" class="input" disabled="disabeld" size="30" placeholder="收信人" value="{$ff.thrRealName}" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="label"><label for="content">Information content：</label></div>
                    <div class="field">
                        <textarea class="input" rows="3" name="content" id="content" cols="30" placeholder="信息内容"></textarea>
                    </div>
                </div>
                <div class="form-button">
                    <input type="submit" class="button bg-main" value="Send ..." />
                    <button class="button bg-yellow" type="reset">renovate</button>
                </div>
            </form>
        </div> 
    </div> 
</div>
<div id="mydeldialog"> 
    <div class="dialog"> 
        <div class="dialog-head"> 
            <span class="close rotate-hover"></span> 
            <strong>Message operation</strong> 
        </div> 
        <div class="dialog-body">
            <div class="form-group">
                <p>Are you sure you want to delete this message?</p>
            </div>
            <input type="button" class="button bg-main" value="choose" onclick="javascript:del();" />
            <button class="button bg-yellow" type="reset">Think again</button>
        </div> 
    </div> 
</div>



<script>
    var ID = null;
    function del(){
        window.location.href = "{:U('Student/delMsg/id/" + ID + "')}";
    }
    $(function(){
        $(".table a[name='del']").click(function(){
            ID = $(this).parent().find("input[name='id']").val();
        });

    });
</script>
