
    <div class="admin">
        <div class="panel admin-panel">
          <div class="panel-head">
                <a class="button button-small border-green dialogs disabled" name="addmsg" href="#" data-toggle="click" data-target="#mymsgdialog" data-mask="1" data-width="50%">Sending Message</a>
            </div>
            <div class="padding border-bottom">
                <form action="{:U('Msg/index')}" class="form-inline">
                    <div class="form-group">
                        <div class="label"><label for="keys">Keywords</label></div>
                        <div class="field">
                            <input type="text" class="input" id="keys" name="keys" size="12" value="<?php echo isset($seachData['keys']) && !empty($seachData['keys']) ? $seachData['keys'] : '';?>" placeholder="Keywords" />
                        </div>
                    </div>
                    &nbsp;
                    &nbsp;
                    <div class="form-group">
                        <div class="label"><label for="receive">Sender</label></div>
                        <div class="field">
                            <select class="input" name="receive" id="receive">
                                <option value="">Select</option>
                                <option <?php echo $seachData['receive'] == 1 ? 'selected="selected"' : '' ;?> value="1">Admin</option>
                                <option <?php echo $seachData['receive'] == 2 ? 'selected="selected"' : '' ;?> value="2">Supervised Professor</option>
                                <option <?php echo $seachData['receive'] == 3 ? 'selected="selected"' : '' ;?> value="3">Student</option>
                            </select>
                        </div>
                    </div>
                    &nbsp;
                    &nbsp;
                    <div class="form-button">
                        <button class="button bg-green" type="submit">Search</button>
                    </div>
                </form>
            </div>
            <table class="table table-hover">
                <tr>
                    <th width="80">Message ID</th>
                    <th width="100">Sender</th>
                    <th width="100">Receiver</th>
                    <th width="*">Message Content</th>
                    <th width="140">Sending Time</th>
                    <th width="80">Operation</th>
                </tr>
                <volist name="List" id="index">
                <tr>
                    <td>{$index.msgId}</td>
                    <td>{$index.msgFromId}</td>
                    <td>{$index.msgAccessId}</td>
                    <td>{$index.msgContent}</td>
                    <td>{$index.createTime|date="m-d i:m:s",###}</td>
                    <td>
                        <input type="hidden" name="id" value="{$index.msgId}"/>
                        <a class="button border-green button-little dialogs" name="delete" href="#" data-toggle="click" data-target="#mydialog" data-mask="1" data-width="30%">Delete</a>
                        </if>
                    </td>
                </tr>
                </volist>
                </table>
            <div class="panel-foot text-center">
                <div class ="green-black">{$page}</div>
            </div>
        </div>
        <br />
        <p class="text-right text-gray">Based on<a class="text-gray" target="_blank" href="#"> Team05 </a>build </p>
    </div>

    <div id="mydialog"> 
        <div class="dialog"> 
            <div class="dialog-head"> 
                <span class="close rotate-hover"></span> 
                <strong>Proposal Operation</strong> 
            </div> 
            <div class="dialog-body">
                <div class="form-group">
                    <p>Do you want to delete this message？</p>
                    <p>O(∩_∩)O~~(This is unrecoverable)</p>
                </div>
                <input type="button" class="button bg-main" value="delete" onclick="javascript:del();" />
                <button class="button bg-yellow" type="reset">Regret</button>
            </div> 
        </div> 
    </div>

    <div id="mymsgdialog"> 
        <div class="dialog"> 
            <div class="dialog-head"> 
                <span class="close rotate-hover"></span> 
                <strong>Sending Message</strong> 
            </div> 
            <div class="dialog-body">
                <form action="{:U('Msg/addMsg')}" method="post">
                    <div class="form-group">
                        <div class="label"><label for="receive">Receiver：</label></div>
                        <div class="field">
                            <select class="input" name="receive" id="receive">
                                <option value="1">All</option>
                                <option value="2">All Profossor</option>
                                <option value="3">All Student</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="label"><label for="content">Message Content:</label></div>
                        <div class="field">
                            <textarea class="input" rows="3" name="content" id="content" cols="30" placeholder="messageContent"></textarea>
                        </div>
                    </div>
                    <div class="form-button">
                        <input type="submit" class="button bg-main" value="Send ..." />
                        <button class="button bg-yellow" type="reset">Refresh</button>
                    </div>
                </form>
            </div> 
        </div> 
    </div>

    <script>
        var ID = null;
        function del(){
            window.location.href = "{:U('Msg/delMsg/id/" + ID +"')}";
        }
        $(function(){

            $(".table a[name='delete']").click(function(){
                var id = $(this).parent().find("input[name='id']").val();
                ID = id;
            });
        });
    </script>