
    <div class="admin">
        <div class="panel admin-panel">
            <div class="panel-head">
                <input type="button" class="button button-small border-green" value="New teachers" onclick="javascript:window.location.href='{:U('Teacher/add')}';" />
                <input type="button" class="button button-small border-blue" value="recycle bin" onclick="javascript:window.location.href='{:U('Teacher/recycle')}'" />
            </div>
            <div class="padding border-bottom">
                <form action="{:U('Teacher/index')}" class="form-inline">
                    <div class="form-group">
                        <div class="label"><label for="thrCard">Teacher number</label></div>
                        <div class="field">
                            <input type="text" class="input" id="thrCard" name="thrCard" size="12" value="<?php echo isset($seachData['thrCard']) && !empty($seachData['thrCard']) ? $seachData['thrCard'] : '';?>" placeholder="Teacher's number" />
                        </div>
                    </div>
                    &nbsp;
                    <div class="form-group">
                        <div class="label"><label for="thrName">(full) name</label></div>
                        <div class="field">
                            <input type="text" class="input" id="thrName" name="thrName" size="12" value="<?php echo isset($seachData['thrName']) && !empty($seachData['thrName']) ? $seachData['thrName'] : '';?>" placeholder="Teacher's name" />
                        </div>
                    </div>
                    &nbsp;
                    <div class="form-group">
                        <div class="label"><label for="thrSex">Teacher gender</label></div>
                        <div class="field">
                            <select class="input" name="thrSex" id="thrSex">
                                <option value="">Please choose</option> 
                                <option <?php echo $seachData['thrSex'] == 1 ? 'selected="selected"' : '' ;?> value="1">male</option>
                                <option <?php echo $seachData['thrSex'] == 2 ? 'selected="selected"' : '' ;?> value="2">female</option>
                            </select>
                        </div>
                    </div>
                    &nbsp;
                    &nbsp;
                    <div class="form-button">
                        <button class="button bg-green" type="submit">retrieve</button>
                    </div>
                </form>
            </div>
            <table class="table table-hover">
                <tr>
                    <th width="80">Teacher number</th>
                    <th width="120">Login account</th>
                    <th width="140">Real name</th>
                    <th width="140">Teacher gender</th>
                    <th width="140">contact way</th>
                    <th width="*">research field</th>
                    <th width="180">operate</th>
                </tr>
                <volist name="usrList" id="index">
                <tr>
                    <td>{$index.thrId}</td>
                    <td>{$index.thrName}</td>
                    <td>{$index.thrRealName}</td>
                    <td>
                        <?php echo $index['thrSex'] == 1 ? 'male' : 'female'; ?>
                    </td>
                    <td>{$index.thrPhone}</td>
                    <td>{$index.thrStudy}</td>
                    <td>
                        <input type="hidden" name="id" value="{$index.thrId}"/>
                        <a class="button border-yellow button-little dialogs" name="check" href="#" data-toggle="click" data-target="#checkdialog" data-mask="1" data-width="30%">examine</a>
                        <a class="button border-blue button-little" name="reset" href="#">Reset password</a>
                        <a class="button border-green button-little dialogs" name="delete" href="#" data-toggle="click" data-target="#mydialog" data-mask="1" data-width="30%">delete</a>
                    </td>
                </tr>
                </volist>
                </table>
            <div class="panel-foot text-center">
                <div class ="green-black">{$page}</div>
            </div>
        </div>
        <br />
        <p class="text-right text-gray">Based on<a class="text-gray" target="_blank" href="#">Team05</a>build   </p>
    </div>
    
    <div id="checkdialog"> 
        <div class="dialog"> 
            <div class="dialog-head"> 
                <span class="close rotate-hover"></span> 
                <strong>教师详情</strong> 
            </div> 
            <div class="dialog-body">
                <div class="form-group">
                    <p>Login account：  <a class="thrName" href="#"></a></p>
                    <p>Real name：  <a class="thrRealName" href="#"></a></p>
                    <p>Teacher gender：  <a class="thrSex" href="#"></a></p>
                    <p>Teacher's age：  <a class="thrAge" href="#"></a></p>
                    <p>research field：  <a class="thrStudy" href="#"></a></p>
                    <p>contact way：  <a class="thrPhone" href="#"></a></p>
                    <p>e-mail address：  <a class="thrEmail" href="#"></a></p>
                    <p>business address：  <a class="thrAddress" href="#"></a></p>
                </div>
            </div> 
        </div> 
    </div>

    <div id="mydialog"> 
        <div class="dialog"> 
            <div class="dialog-head"> 
                <span class="close rotate-hover"></span> 
                <strong>Teacher's operation</strong> 
            </div> 
            <div class="dialog-body">
                <div class="form-group">
                    <p>Are you sure you want to delete this teacher?</p>
                    <p>O(∩_∩)O~~(Is a recoverable deletion)</p>
                </div>
                <input type="button" class="button bg-main" value="delete" onclick="javascript:recycle();" />
                <button class="button bg-yellow" type="reset">regtet</button>
            </div> 
        </div> 
    </div>
        

    <script>
        var ID = null;
        function recycle(){
            window.location.href = "{:U('Teacher/toRecycle/id/" + ID +"')}";
        }
        $(function(){
            $(".table a[name='check']").click(function(){
                ID = $(this).parent().find("input[name='id']").val();
               
                $.ajax({
                    url: "{:U('Teacher/checkDetail')}",
                    data: {
                        id: ID,
                    },
                    type: 'post',
                    dataType: 'json',
                    success: function(data){
                        if(data.state == true){
                            for(var x in data.detail){
                                if(x == 'thrSex'){
                                    $(".dialog ." + x + "").html(data.detail[x] == 1 ? 'male' : 'female');
                                }else{
                                    $(".dialog ." + x + "").html(data.detail[x]);
                                }
                            }
                        }else{
                            return ;
                        }
                    }
                }); 
            });

            $(".table a[name='reset']").click(function(){
                var id = $(this).parent().find("input[name='id']").val();
                window.location.href = "{:U('Teacher/reset/id/" + id +"')}";
            });

            $(".table a[name='delete']").click(function(){
                var id = $(this).parent().find("input[name='id']").val();
                ID = id;
            });

        });
    </script>