
    <div class="admin">
        <div class="panel admin-panel">
          <!--   <div class="panel-head">
                <input type="button" class="button button-small border-blue" value="回收站" onclick="javascript:window.location.href='{:U('Design/recycle')}'" />
            </div> -->
            <div class="padding border-bottom">
                <form action="{:U('Design/index')}" class="form-inline">
                    <div class="form-group">
                        <div class="label"><label for="gpThrId">Supervised professor</label></div>
                        <div class="field">
                            <input type="text" class="input" id="gpThrId" name="gpThrId" size="12" value="<?php echo isset($seachData['gpThrId']) && !empty($seachData['gpThrId']) ? $seachData['gpThrId'] : '';?>" placeholder="Supervised professor" />
                        </div>
                    </div>
                    &nbsp;
                    <div class="form-group">
                        <div class="label"><label for="gpContent">Key Words</label></div>
                        <div class="field">
                            <input type="text" class="input" id="gpContent" name="gpContent" size="12" value="<?php echo isset($seachData['gpContent']) && !empty($seachData['gpContent']) ? $seachData['gpContent'] : '';?>" placeholder="Key Words" />
                        </div>
                    </div>
                    &nbsp;
                    <div class="form-group">
                        <div class="label"><label for="state">Proposal Status</label></div>
                        <div class="field">
                            <select class="input" name="state" id="state">
                                <option value="">Please choose</option>
                                <option <?php echo $seachData['state'] == -1 ? 'selected="selected"' : '' ;?> value="-1">Wait for review</option>
                                <option <?php echo $seachData['state'] == 1 ? 'selected="selected"' : '' ;?> value="1">Reviewed</option>
                                <option <?php echo $seachData['state'] == 3 ? 'selected="selected"' : '' ;?> value="3">Assigned</option>
                            </select>
                        </div>
                    </div>
                    &nbsp;
                    <div class="form-group">
                        <div class="label"><label for="gpSHState">Proposal Direct</label></div>
                        <div class="field">
                            <select class="input" name="gpSHState" id="gpSHState">
                                <option value="">Please choose</option>
                                <option <?php echo $seachData['gpSHState'] == 1 ? 'selected="selected"' : '' ;?> value="1">Software Direacion</option>
                                <option <?php echo $seachData['gpSHState'] == 2 ? 'selected="selected"' : '' ;?> value="2">Hardware Direction</option>
                            </select>
                        </div>
                    </div>
                    &nbsp;
                    &nbsp;
                    <div class="form-button">
                        <button class="button bg-green" type="submit">Search</button>
                    </div>
                </form>
            </div>
            <table class="table table-hover">
                <tr>
                    <th width="80">Proposal ID</th>
                    <th width="110">Name of Proposal</th>
                    <th width="*">Proposal Content</th>
                    <th width="160">Required knowledge</th>
                    <th width="140">Proposal Status</th>
                    <th width="80">Supervised professor</th>
                    <th width="140">Operation</th>
                </tr>
                <volist name="bsList" id="index">
                <tr>
                    <td>{$index.gpId}</td>
                    <td>{$index.gpTitle}</td>
                    <td>{$index.gpContent}</td>
                    <td>{$index.gpMust}</td>
                    <td>
                        <if condition="$index.state eq 0">
                            Wait for review
                         <elseif condition="$index.state eq 1"/>
                            Passed
                        <elseif condition="$index.state eq 2"/>
                            Passed
                        <elseif condition="$index.state eq 3"/>
                            Confirmed
                         <elseif condition="$index.state eq -1"/>
                            Rejected
                        </if> 
                    </td>
                    <td>{$index.thrRealName}</td>
                    <td>
                        <input type="hidden" name="id" value="{$index.gpId}"/>
                        <a class="button border-blue button-little dialogs" name="check" href="#" data-toggle="click" data-target="#checkdialog" data-mask="1" data-width="50%">View</a>
                        <if condition="$index.state eq 0">

                        <a class="button border-red button-little dialogs" name="shenhe" href="#" data-toggle="click" data-target="#myshenhe" data-mask="1" data-width="30%">Action</a>
                        <a class="button border-green button-little dialogs" name="delete" href="#" data-toggle="click" data-target="#mydialog" data-mask="1" data-width="30%">Delete</a>
                        </if>
                    </td>
                </tr>
                </volist>
                </table>
            <div class="panel-foot text-center">
                <div class ="green-black">{$page}</div>
            </div>
        </div>
        <br />
        <p class="text-right text-gray">Based on<a class="text-gray" target="_blank" href="#"> Team05 </a>build </p>
    </div>

     <div id="checkdialog"> 
        <div class="dialog"> 
            <div class="dialog-head"> 
                <span class="close rotate-hover"></span> 
                <strong>Proposal Details</strong> 
            </div> 
            <div class="dialog-body">
                <div class="form-group">
                    <p>Proposal ID:  <a class="gpId" href="#"></a></p>
                    <p>Proposal Content:  <a class="gpContent" href="#"></a></p>
                    <p>Proposal Intention:  <a class="gpAim" href="#"></a></p>
                    <p>Proposal outcomes:  <a class="gpRequest" href="#"></a></p>
                    <p>Required knowledge:  <a class="gpMust" href="#"></a></p>
                    <p>Form of Submittion(optional):  <a class="gpFormal" href="#"></a></p>
                    <p>Proposal Direct:  <a class="gpSHState" href="#"></a></p>
                    <p>Others:  <a class="gpOthers" href="#"></a></p>
                    <p>Supervised professor:  <a class="thrRealName" href="#"></a></p>
                </div>
            </div> 
        </div> 
    </div>

    <div id="mydialog"> 
        <div class="dialog"> 
            <div class="dialog-head"> 
                <span class="close rotate-hover"></span> 
                <strong>Proposal Operation</strong> 
            </div> 
            <div class="dialog-body">
                <div class="form-group">
                    <p>Comfirming to delete proposal</p>
                </div>
                <input type="button" class="button bg-main" value="delete" onclick="javascript:del();" />
                <button class="button bg-yellow" type="reset">Back</button>
            </div> 
        </div> 
    </div>

    <div id="myshenhe"> 
        <div class="dialog"> 
            <div class="dialog-head"> 
                <span class="close rotate-hover"></span> 
                <strong>Proposal Review</strong> 
            </div> 
            <div class="dialog-body">
                    <div class="form-group">
                        <p>This proposal has not been reviewed，please review:</p>
                    </div>
                    <br/>
                    <br/>
                    <div class="form-button">
                        <input type="button" class="button bg-main" value="Examnation passed" onclick="javascript:shenhe(1);" />
                        <input type="button" class="button bg-blue" value="Didn't passed exmination" onclick="javascript:shenhe(-1);" />
                        <button class="button bg-yellow" type="reset">Back</button>
                    </div>
            </div> 
        </div> 
    </div>
        

    <script>
        var ID = null;
        function del(){
            window.location.href = "{:U('Design/cycGP/id/" + ID +"')}";
        }
        function shenhe(flag){
            window.location.href = "{:U('Design/SH/id/" + ID +"/flag/" + flag + "')}";
        }
        $(function(){
            $(".table a[name='check']").click(function(){
                ID = $(this).parent().find("input[name='id']").val();
               
                $.ajax({
                    url: "{:U('Design/checkGP')}",
                    data: {
                        id: ID,
                    },
                    type: 'post',
                    dataType: 'json',
                    success: function(data){
                        if(data.state == true){
                            for(var x in data.detail){
                                if(x == 'gpSHState'){
                                    $(".dialog ." + x + "").html(data.detail[x] == 1 ? 'Software Direacion' : 'Hardware Direction');
                                }else{
                                    $(".dialog ." + x + "").html(data.detail[x]);
                                }
                            }
                        }else{
                            return ;
                        }
                    }
                }); 
            });

            $(".table a[name='delete']").click(function(){
                var id = $(this).parent().find("input[name='id']").val();
                ID = id;
            });
            $(".table a[name='shenhe']").click(function(){
                var id = $(this).parent().find("input[name='id']").val();
                ID = id;
            });

        });
    </script>