
    <div class="admin">
        <div class="panel admin-panel">
          <!--   <div class="panel-head">
                <input type="button" class="button button-small border-blue" value="回收站" onclick="javascript:window.location.href='{:U('Design/recycle')}'" />
            </div> -->
            <div class="padding border-bottom">
                <form action="{:U('Design/index')}" class="form-inline">
                    <div class="form-group">
                        <div class="label"><label for="gpThrId">Supervised professor &nbsp</label></div>
                        <div class="field">
                            <input type="text" class="input" id="gpThrId" name="gpThrId" size="12" value="<?php echo isset($seachData['gpThrId']) && !empty($seachData['gpThrId']) ? $seachData['gpThrId'] : '';?>" placeholder="Professor" />
                        </div>
                    </div>
                    &nbsp;
                    <div class="form-group">
                        <div class="label"><label for="gpContent">Keywords &nbsp</label></div>
                        <div class="field">
                            <input type="text" class="input" id="gpContent" name="gpContent" size="12" value="<?php echo isset($seachData['gpContent']) && !empty($seachData['gpContent']) ? $seachData['gpContent'] : '';?>" placeholder="Keywords" />
                        </div>
                    </div>
                    &nbsp;
                    <div class="form-group">
                        <div class="label"><label for="state">Proposal Status &nbsp</label></div>
                        <div class="field">
                            <select class="input" name="state" id="state">
                                <option value="">Please choose</option>
                                <option <?php echo $seachData['state'] == -1 ? 'selected="selected"' : '' ;?> value="-1">Wait for examining</option>
                                <option <?php echo $seachData['state'] == 1 ? 'selected="selected"' : '' ;?> value="1">Examined</option>
                                <option <?php echo $seachData['state'] == 3 ? 'selected="selected"' : '' ;?> value="3">Assigned</option>
                            </select>
                        </div>
                    </div>
                    &nbsp;
                    <div class="form-group">
                        <div class="label"><label for="gpSHState">Proposal Direct &nbsp</label></div>
                        <div class="field">
                            <select class="input" name="gpSHState" id="gpSHState" style="width:200px; height:30px;">
                                <option value="">Please choose</option>
                                <option <?php echo $seachData['GPSH'] == 1 ? 'selected="selected"' : '' ;?> value="COMP SCI 1104">COMP SCI 1104 Grand Challenges in Computer Science</option>
                                            <option <?php echo $seachData['GPSH'] == 2 ? 'selected="selected"' : '' ;?> value="COMP SCI 2008">COMP SCI 2008 Topics in Computer Science</option>
                                            <option <?php echo $seachData['GPSH'] == 3 ? 'selected="selected"' : '' ;?> value="COMP SCI 3020">COMP SCI 3020 Advanced Topics in Computer Science</option>
                                            <option <?php echo $seachData['GPSH'] == 4 ? 'selected="selected"' : '' ;?> value="COMP SCI 3006 ">COMP SCI 3006 Software Engineering & Project</option>
                                            <option <?php echo $seachData['GPSH'] == 5 ? 'selected="selected"' : '' ;?> value="COMP SCI 3310">COMP SCI 3310 Software Engineering & Project (Artificial Intelligence)</option>
                                            <option <?php echo $seachData['GPSH'] == 6 ? 'selected="selected"' : '' ;?> value="COMP SCI 3311">COMP SCI 3311 Software Engineering & Project (Data Science)</option>
                                            <option <?php echo $seachData['GPSH'] == 7 ? 'selected="selected"' : '' ;?> value="COMP SCI 3312">COMP SCI 3312 Software Engineering & Project (Cybersecurity)</option>
                                            <option <?php echo $seachData['GPSH'] == 8 ? 'selected="selected"' : '' ;?> value="COMP SCI 3313">COMP SCI 3313 Software Engineering & Project (Distributed Systems & Networking)</option>
                                            <option <?php echo $seachData['GPSH'] == 9 ? 'selected="selected"' : '' ;?> value="COMP SCI 4015">COMP SCI 4015 A/B Computer Science Honours Research Project Part A</option>
                                            <option <?php echo $seachData['GPSH'] == 10 ? 'selected="selected"' : '' ;?> value="COMP SCI 4414A/B">COMP SCI 4414A/B Software Engineering Honours Research Project A</option>
                                            <option <?php echo $seachData['GPSH'] == 11 ? 'selected="selected"' : '' ;?> value="COMP SCI 7015">COMP SCI 7015 Software Engineering & Project</option>
                                            <option <?php echo $seachData['GPSH'] == 12 ? 'selected="selected"' : '' ;?> value="COMP SCI 7096A/B">COMP SCI 7096A/B Master of Software Engineering Project Part A/B</option>
                                            <option <?php echo $seachData['GPSH'] == 13 ? 'selected="selected"' : '' ;?> value="COMP SCI 7098">COMP SCI 7098 Master of Computing & Innovation Project</option>
                                            <option <?php echo $seachData['GPSH'] == 14 ? 'selected="selected"' : '' ;?> value="COMP SCI 7099 A/B">COMP SCI 7099 A/B Master Computer Science Research Project - Part A/B</option>
                                            <option <?php echo $seachData['GPSH'] == 15 ? 'selected="selected"' : '' ;?> value="COMP SCI 7097 A/B">COMP SCI 7097 A/B Master Data Science Research Project Part A/B</option>
                            </select>
                        </div>
                    </div>
                    &nbsp;
                    &nbsp;
                    <div class="form-button">
                        <button class="button bg-green" type="submit">Search</button>
                    </div>
                </form>
            </div>
            <table class="table table-hover">
                <tr>
                    <th width="80">Proposal ID</th>
                    <th width="110">Name of Proposal</th>
                    <th width="*">Proposal Content</th>
                    <th width="160">Required knowledge</th>
                    <th width="140">Proposal Status</th>
                    <th width="80">Supervised professor</th>
                    <th width="140">Operation</th>
                </tr>
                <volist name="bsList" id="index">
                <tr>
                    <td>{$index.gpId}</td>
                    <td>{$index.gpTitle}</td>
                    <td>{$index.gpContent}</td>
                    <td>{$index.gpMust}</td>
                    <td>
                        <if condition="$index.state eq 0">
                            Wait for examining
                         <elseif condition="$index.state eq 1"/>
                            Passed exmination
                        <elseif condition="$index.state eq 2"/>
                            Passed exmination
                        <elseif condition="$index.state eq 3"/>
                            Confirmed
                         <elseif condition="$index.state eq -1"/>
                            Didn't passed exmination
                        </if> 
                    </td>
                    <td>{$index.thrRealName}</td>
                    <td>
                        <input type="hidden" name="id" value="{$index.gpId}"/>
                        <a class="button border-blue button-little dialogs" name="check" href="#" data-toggle="click" data-target="#checkdialog" data-mask="1" data-width="50%">View</a>
                        <a class="button border-black button-little" name="modify" href="#">modify</a>
                        <if condition="$index.state eq 0">

                        <a class="button border-red button-little dialogs" name="shenhe" href="#" data-toggle="click" data-target="#myshenhe" data-mask="1" data-width="30%">Examnation</a>
                        <a class="button border-green button-little dialogs" name="delete" href="#" data-toggle="click" data-target="#mydialog" data-mask="1" data-width="30%">Delete</a>
                        </if>
                    </td>
                </tr>
                </volist>
                </table>
            <div class="panel-foot text-center">
                <div class ="green-black">{$page}</div>
            </div>
        </div>
        <br />
        <p class="text-right text-gray">Based on<a class="text-gray" target="_blank" href="#">Team05</a>build   </p>
    </div>

     <div id="checkdialog"> 
        <div class="dialog"> 
            <div class="dialog-head"> 
                <span class="close rotate-hover"></span> 
                <strong>Proposal Details</strong> 
            </div> 
            <div class="dialog-body">
                <div class="form-group">
                    <p>Supervised professor:  <a class="thrRealName" href="#"></a></p>
                    <p>Proposal ID:  <a class="gpId" href="#"></a></p>
                    <p>Proposal title:  <a class="gpTitle" href="#"></a></p>
                    <p>Proposal Content:  <a class="gpContent" href="#"></a></p>
                    <p>Proposal Intention:  <a class="gpAim" href="#"></a></p>
                    <p>Proposal outcomes:  <a class="gpRequest" href="#"></a></p>
                    <p>Required knowledge:  <a class="gpMust" href="#"></a></p>
                    <p>Form of Submittion(optional):  <a class="gpFormal" href="#"></a></p>
                    <p>Proposal Direct:  <a class="gpSHState" href="#"></a></p>
                    <p>Comment:  <a class="gpOthers" href="#"></a></p>
                    
                </div>
            </div> 
        </div> 
    </div>

    <div id="mydialog"> 
        <div class="dialog"> 
            <div class="dialog-head"> 
                <span class="close rotate-hover"></span> 
                <strong>Proposal Operation</strong> 
            </div> 
            <div class="dialog-body">
                <div class="form-group">
                    <p>Comfirming to delete proposal</p>
                    <p>O(∩_∩)O~~(Restorable)</p>
                </div>
                <input type="button" class="button bg-main" value="delete" onclick="javascript:del();" />
                <button class="button bg-yellow" type="reset">regret</button>
            </div> 
        </div> 
    </div>

    <div id="myshenhe"> 
        <div class="dialog"> 
            <div class="dialog-head"> 
                <span class="close rotate-hover"></span> 
                <strong>Proposal Examnation</strong> 
            </div> 
            <div class="dialog-body">
                    <div class="form-group">
                        <p>This proposal has not been examined，please examine:</p>
                    </div>
                    <br/>
                    <br/>
                    <div class="form-button">
                        <input type="button" class="button bg-main" value="Examnation passed" onclick="javascript:shenhe(1);" />
                        <input type="button" class="button bg-blue" value="Didn't passed exmination" onclick="javascript:shenhe(-1);" />
                        <button class="button bg-yellow" type="reset">Rethink</button>
                    </div>
            </div> 
        </div> 
    </div>
        

    <script>
        var ID = null;
        function del(){
            window.location.href = "{:U('Design/cycGP/id/" + ID +"')}";
        }
        function shenhe(flag){
            window.location.href = "{:U('Design/SH/id/" + ID +"/flag/" + flag + "')}";
        }
        $(function(){
            $(".table a[name='check']").click(function(){
                ID = $(this).parent().find("input[name='id']").val();
                $.ajax({
                    url: "{:U('Design/checkGP')}",
                    data: {
                        id: ID,
                    },
                    type: 'post',
                    dataType: 'json',
                    success: function(data){
                        if(data.state == true){
                            for(var x in data.detail){
                                $(".dialog ." + x + "").html(data.detail[x]);
                            }
                        }else{
                            return ;
                        }
                    }
                }); 
            });

            $(".table a[name='delete']").click(function(){
                var id = $(this).parent().find("input[name='id']").val();
                ID = id;
            });
            $(".table a[name='shenhe']").click(function(){
                var id = $(this).parent().find("input[name='id']").val();
                ID = id;
            });

            $(".table a[name='modify']").click(function() {
                var id = $(this).parent().find("input[name='id']").val();
                window.location.href = "{:U('Design/editGP/id/" + id + "')}";
            });

        });
    </script>