
    <div class="admin">
        <form method="post">
        <div class="panel admin-panel">
            <div class="panel-head"><strong>Content list</strong></div>
            <div class="padding border-bottom">
                <input type="button" class="button button-small checkall" name="checkall" checkfor="id" value="全选" />
                <input type="button" class="button button-small border-yellow dialogs" value="bulkrestore" name="recoversallbtn" href="#" data-toggle="click" data-target="#recoverdialog" data-mask="1" data-width="30%" />
                <input type="button" class="button button-small border-blue dialogs" value="bulkclear" name="clearallbtn" href="#" data-toggle="click" data-target="#clearsdialog" data-mask="1" data-width="30%" />
                <div id="recoversdialog"> 
                    <div class="dialog"> 
                        <div class="dialog-head"> 
                            <span class="close rotate-hover"></span> 
                            <strong>Student batch recovery</strong> 
                        </div> 
                        <div class="dialog-body">
                            <p>Are you sure you want to restore to select students?</p>

                            <input type="button" class="button bg-main" value="restoreal" onclick="javascript:recoverall();" />
                        </div> 
                    </div> 
                </div>
                <div id="clearsdialog"> 
                    <div class="dialog"> 
                        <div class="dialog-head"> 
                            <span class="close rotate-hover"></span> 
                            <strong>Mass cleanup of students</strong> 
                        </div> 
                        <div class="dialog-body">
                            <p>Are you sure you want to clear to select students?</p>
                            <p>:( (Delete as unrecoverable)</p>

                            <input type="button" class="button bg-main" value="clearall" onclick="javascript:clearall();" />
                        </div> 
                    </div> 
                </div>
            </div>
            <table class="table table-hover">
                <tr>
                    <th width="45">select</th>
                    <th width="140">student number</th>
                    <th width="140">(full) name</th>
                    <th width="110">gender</th>
                    <th width="120">contact way</th>
                    <th width="*">Professional name</th>
                    <th width="180">operate</th>
                </tr>
                <volist name="usrList" id="index">
                <tr>
                    <td>
                        <input type="checkbox" name="id" value="{$index.id}" />
                    </td>
                    <td>{$index.stuCard}</td>
                    <td>{$index.stuRealName}</td>
                    <td>
                        <?php echo $index['stuSex'] == 1 ? 'male' : 'female'; ?>
                    </td>
                    <td>{$index.stuPhone}</td>
                    <td>{$index.majorName}</td>
                    <td>
                        <input name='stuid' type="hidden" value="{$index.stuId}" />
                        <a class="button border-blue button-little dialogs" name="recover" href="#" data-toggle="click" data-target="#recoverdialog" data-mask="1" data-width="30%">recover</a>
                        <a class="button border-yellow button-little dialogs" name="clear" href="#" data-toggle="click" data-target="#cleardialog" data-mask="1" data-width="30%">clear away</a>
                    </td>
                </tr>
                </volist>
                </table>
            <div class="panel-foot text-center">
                page
            </div>
        </div>
        </form>
        <br />
        <p class="text-right text-gray">Based on<a class="text-gray" target="_blank" href="#">Team05</a>build   </p>
    </div>
    <div id="cleardialog"> 
        <div class="dialog"> 
            <div class="dialog-head"> 
                <span class="close rotate-hover"></span> 
                <strong>Student operation</strong> 
            </div> 
            <div class="dialog-body">
                <div class="form-group">
                    <p>Are you sure you want to clear this student?</p>
                    <p>O__O"…~~(If you delete it, it will be gone)</p>
                </div>
        
                <input type="button" class="button bg-main" value="delete" onclick="javascript:clearr();" />
                <button class="button bg-yellow" type="reset">Reject</button>
            </div> 
        </div> 
    </div>
    <div id="recoverdialog"> 
        <div class="dialog"> 
            <div class="dialog-head"> 
                <span class="close rotate-hover"></span> 
                <strong>Student operation</strong> 
            </div> 
            <div class="dialog-body">
                <div class="form-group">
                    <p>Are you sure you want to restore this student?</p>
                    <p>O(∩_∩)O~~(You can think about it)</p>
                </div>
        
                <input type="button" class="button bg-main" value="restore" onclick="javascript:recover();" />
                <button class="button bg-yellow" type="reset">Think again</button>
            </div> 
        </div> 
    </div>

    <script>
        var ID = null;
        function recover(){
            window.location.href = "{:U('Student/recoverOne/id/" + ID + "')}";
        }

        function clearr(){
            window.location.href = "{:U('Student/clearOne/id/" + ID + "')}";
        }

        $(function(){
            $(".table a[name='recover']").click(function(){
                ID = $(this).parent().find("input[name='stuid']").val();
            });

            $(".table a[name='clear']").click(function(){
                ID = $(this).parent().find("input[name='stuid']").val();
            });
        });
    </script>