
    <div class="admin">
        <form method="post">
        <div class="panel admin-panel">
            <div class="panel-head"><strong>Content list</strong></div>
            <div class="padding border-bottom">
                <input type="button" class="button button-small checkall" name="checkall" checkfor="id" value="selectAll" />
                <input type="button" class="button button-small border-yellow dialogs" value="bulkRestore" name="recoverallbtn" href="#" data-toggle="click" data-target="#recoversdialog" data-mask="1" data-width="30%" />
                <input type="button" class="button button-small border-blue dialogs" value="bulkDelete" name="clearallbtn" href="#" data-toggle="click" data-target="#clearsdialog" data-mask="1" data-width="30%" />
                <div id="recoversdialog"> 
                    <div class="dialog"> 
                        <div class="dialog-head"> 
                            <span class="close rotate-hover"></span> 
                            <strong>User bulk restore</strong> 
                        </div> 
                        <div class="dialog-body">
                            <p>Do you want restore picked user？</p>

                            <input type="button" class="button bg-main" value="全恢复" onclick="javascript:recoverall();" />
                        </div> 
                    </div> 
                </div>
                <div id="clearsdialog"> 
                    <div class="dialog"> 
                        <div class="dialog-head"> 
                            <span class="close rotate-hover"></span> 
                            <strong>UserbulkDelete</strong> 
                        </div> 
                        <div class="dialog-body">
                            <p>Do you want to clear picked user？</p>
                            <p>:( (Unrecoverable)</p>

                            <input type="button" class="button bg-main" value="clearAll" onclick="javascript:clearall();" />
                        </div> 
                    </div> 
                </div>
            </div>
            <table class="table table-hover">
                <tr>
                    <th width="45">Selection</th>
                    <th width="80">Proposal ID</th>
                    <th width="110">Proposal Name</th>
                    <th width="*">Proposal Content</th>
                    <th width="160">Requied Knowledge</th>
                    <th width="140">Form of Submition</th>
                    <th width="100">Supervised Profossor</th>
                    <th width="100">Operation</th>
                </tr>
                <volist name="bsList" id="index">
                <tr>
                    <td>
                        <input type="checkbox" name="id" value="{$index.gpId}" />
                    </td>
                    <td>{$index.gpId}</td>
                    <td>{$index.gpTitle}</td>
                    <td>{$index.gpContent}</td>
                    <td>{$index.gpMust}</td>
                    <td>{$index.gpFormal}</td>
                    <td>{$index.thrRealName}</td>
                    <td>
                        <input name='gpid' type="hidden" value="{$index.gpId}" />
                        <a class="button border-blue button-little dialogs" name="recover" href="#" data-toggle="click" data-target="#recoverdialog" data-mask="1" data-width="30%">Restore</a>
                        <a class="button border-yellow button-little dialogs" name="clear" href="#" data-toggle="click" data-target="#cleardialog" data-mask="1" data-width="30%">Clear</a>
                    </td>
                </tr>
                </volist>
                </table>
            <div class="panel-foot text-center">
                page
            </div>
        </div>
        </form>
        <br />
        <p class="text-right text-gray">Based on<a class="text-gray" target="_blank" href="#">Team05</a>build   </p>
    </div>
    <div id="cleardialog"> 
        <div class="dialog"> 
            <div class="dialog-head"> 
                <span class="close rotate-hover"></span> 
                <strong>Proposal Operation</strong> 
            </div> 
            <div class="dialog-body">
                <div class="form-group">
                    <p>Do you want to clear this proposal？</p>
                    <p>O__O"…~~(Cannot recover)</p>
                </div>
        
                <input type="button" class="button bg-main" value="delete" onclick="javascript:clearr();" />
                <button class="button bg-yellow" type="reset">Deny</button>
            </div> 
        </div> 
    </div>
    <div id="recoverdialog"> 
        <div class="dialog"> 
            <div class="dialog-head"> 
                <span class="close rotate-hover"></span> 
                <strong>Proposal Operation</strong> 
            </div> 
            <div class="dialog-body">
                <div class="form-group">
                    <p>Do you want to restore this proposal？</p>
                    <p>O(∩_∩)O~~(You have time)</p>
                </div>
        
                <input type="button" class="button bg-main" value="restore" onclick="javascript:recover();" />
                <button class="button bg-yellow" type="reset">Rethink</button>
            </div> 
        </div> 
    </div>

    <script>
        var ID = null;
        function recover(){
            window.location.href = "{:U('Design/recoverOne/id/" + ID + "')}";
        }

        function clearr(){
            window.location.href = "{:U('Design/clearOne/id/" + ID + "')}";
        }

        $(function(){
            $(".table a[name='recover']").click(function(){
                ID = $(this).parent().find("input[name='gpid']").val();
            });

            $(".table a[name='clear']").click(function(){
                ID = $(this).parent().find("input[name='gpid']").val();
            });
        });
    </script>