 
<div class="adminme">
    <form method="post" class="form-x" action="{:U('Teacher/addDesign')}" enctype="multipart/form-data">
         <div class="form-group">
            <div class="label"><label for="title">Proposal topic</label></div>
            <div class="field">
                <input type="text" class="input" name="title" size="50" placeholder="Proposal topic" data-validate="required:Please fill in the completed questions" value="" />
            </div>
        </div>
        <div class="form-group">
            <div class="label"><label for="aim">Proposal purpose</label></div>
            <div class="field">
                <textarea class="input" name="aim" rows="3" cols="30" placeholder="Proposal purpose" data-validate="required:Please fill in the completed questions" ></textarea>
            </div>
        </div>
        <div class="form-group">
            <div class="label"><label for="content">Proposal content</label></div>
            <div class="field">
                <textarea class="input" name="content" rows="3" cols="30" placeholder="Proposal content" data-validate="required:Please fill in the completed questions" ></textarea>
            </div>
        </div>
        <div class="form-group">
            <div class="label"><label for="request">Proposal outcomes</label></div>
            <div class="field">
                <textarea class="input" name="request" rows="3" cols="30" placeholder="Proposal outcomes" data-validate="required:Please fill in the completed questions" ></textarea>
            </div>
        </div>
        <div class="form-group">
            <div class="label"><label for="must">Essential knowledge</label></div>
            <div class="field">
                <textarea class="input" name="must" rows="3" cols="30" placeholder="Essential knowledge" data-validate="required:Please fill in the completed questions" ></textarea>
            </div>
        </div>
        <div class="form-group">
            <div class="label"><label for="formal">Submission form(optional)</label></div>
            <div class="field">
                <input type="text" class="input" name="formal" size="50" placeholder="Submission form(optional)" />
            </div>
        </div>
        <div class="form-group">
            <div class="label"><label for="formal">Upload file</label></div>
            <div class="field">
                <input type="file" name="upfile" id="inputfile">
            </div>
        </div>
        <div class="form-group">
            <div class="label"><label for="other">comment</label></div>
            <div class="field">
                <textarea class="input" name="other" rows="3" cols="30" placeholder="other"></textarea>
            </div>
        </div>
        <div class="form-group">
            <div class="label"><label>Subject direction</label></div>
            <div class="field">
                <div class="button-group radio"> 
                    <p><label class="label_input"></label><select name= "SHState" style="width:370px; height:28px;">
                        <option value ="COMP SCI 1104"> COMP SCI 1104 Grand Challenges in Computer Science</option>
                        <option value ="COMP SCI 2008"> COMP SCI 2008 Topics in Computer Science</option>
                        <option value ="COMP SCI 3020"> COMP SCI 3020 Advanced Topics in Computer Science</option>
                        <option value ="COMP SCI 3006"> COMP SCI 3006 Software Engineering & Project</option>
                        <option value ="COMP SCI 3310"> COMP SCI 3310 Software Engineering & Project (Artificial Intelligence)</option>
                        <option value ="COMP SCI 3311"> COMP SCI 3311 Software Engineering & Project (Data Science)</option>
                        <option value ="COMP SCI 3312"> COMP SCI 3312 Software Engineering & Project (Cybersecurity)</option>
                        <option value ="COMP SCI 3313"> COMP SCI 3313 Software Engineering & Project (Distributed Systems & Networking)</option>
                        <option value ="COMP SCI 4015A/B"> COMP SCI 4015A/B Computer Science Honours Research Project Part A</option>
                        <option value ="COMP SCI 4414A/B"> COMP SCI 4414A/B Software Engineering Honours Research Project A</option>
                        <option value ="COMP SCI 7015"> COMP SCI 7015 Software Engineering & Project</option>
                        <option value ="COMP SCI 7096A/B"> COMP SCI 7096A/B Master of Software Engineering Project Part A/B</option>
                        <option value ="COMP SCI 7098"> COMP SCI 7098 Master of Computing & Innovation Project</option>
                        <option value ="COMP SCI 7099A/B"> COMP SCI 7099A/B Master Computer Science Research Project - Part A/B</option>
                        <option value ="COMP SCI 7097A/B"> COMP SCI 7097A/B Master Data Science Research Project Part A/B </option>
                    </select></p>
                </div>
            </div>
        </div>
        <div class="form-button">
            <button class="button bg-main" type="submit">submit</button>
            <button class="button bg-yellow form-reset " type="reset">retreat</button>  
        </div>                
    </form>   
    <p class="text-right text-gray">Based on<a class="text-gray" target="_blank" href="#">Team05</a>build </p>
</div>
    