
    <div class="admin">
        <form method="post" class="form-x" action="{:U('Student/addUsr')}">
             <div class="form-group">
                <div class="label"><label for="name">Login account</label></div>
                <div class="field">
                    <div class="input-group">
                        <span class="addon"><input name="account" type="radio" checked="checked" value="single" /></span>
                        <input type="text" class="input" id="singleAccount" name="singleAccount" size="50" placeholder="Single account number, for example: 2011117200"/>
                    </div>
                    <div class="input-group">
                        <span class="addon"><input name="account" type="radio" value="mul" /></span>
                        <input type="text" class="input" id="mulAccount" name="mulAccount" size="50" placeholder="Scope account number, for example: 2011117200-2011117280" disabled="disabled" />
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="label"><label for="pwd">Login password</label></div>
                <div class="field">
                    <input type="password" class="input" name="pwd" size="50" placeholder="Login password initialization, if not set, it defaults to 666666" />
                </div>
            </div>
            <div class="form-group">
                <div class="label"><label for="name">Student name</label></div>
                <div class="field">
                    <input type="text" class="input" id="name" name="name" size="50" placeholder="Student name"  />
                </div>
            </div>
            <div class="form-group">
                <div class="label"><label>Student gender</label></div>
                <div class="field">
                    <div class="button-group radio"> 
                        <label class="button active">
                            <input name="sex" value="1" checked="checked" type="radio"> male
                        </label> 
                        <label class="button">
                            <input name="sex" value="2" type="radio"> female
                        </label> 
                    </div>
                </div>
            </div>
            <div class="form-button">
                <button class="button bg-main" type="submit">submit</button>
                <button class="button bg-yellow form-reset " type="reset">Reset</button>
            </div>
        </form>   
        <p class="text-right text-gray">Based on<a class="text-gray" target="_blank" href="#"> Team05 </a>build </p>
    </div>

    <script>
        $(function(){
            $(".admin input[name='account']").click(function(){
                if($(this).val() == 'single'){
                    $("#singleAccount").attr('disabled', false);
                    $("#mulAccount").attr('disabled', true);
                    $("#mulAccount").val("");
                    $("#name").attr('disabled', false);
                }else{
                    $("#mulAccount").attr('disabled', false);
                    $("#singleAccount").attr('disabled', true);
                    $("#singleAccount").val("");
                    $("#name").attr('disabled', true);
                    $("#name").val("");
                }
            });
        });
    </script>