
    <div class="admin">
        <div class="panel admin-panel">
            <div class="panel-head">
                <input type="button" class="button button-small border-green" value="Add new students" onclick="javascript:window.location.href='{:U('Student/add')}';" />
                <input type="button" class="button button-small border-blue" value="recycle bin" onclick="javascript:window.location.href='{:U('Student/recycle')}'" />
            </div>
            <div class="padding border-bottom">
                <form action="{:U('Student/index')}" class="form-inline">
                    <div class="form-group">
                        <div class="label"><label for="stuCard">student number</label></div>
                        <div class="field">
                            <input type="text" class="input" id="stuCard" name="stuCard" size="12" value="<?php echo isset($seachData['stuCard']) && !empty($seachData['stuCard']) ? $seachData['stuCard'] : '';?>" placeholder="Student student number" />
                        </div>
                    </div>
                    &nbsp;
                    <div class="form-group">
                        <div class="label"><label for="stuName">(full) name</label></div>
                        <div class="field">
                            <input type="text" class="input" id="stuName" name="stuName" size="12" value="<?php echo isset($seachData['stuName']) && !empty($seachData['stuName']) ? $seachData['stuName'] : '';?>" placeholder="Student name" />
                        </div>
                    </div>
                    &nbsp;
                    <div class="form-group">
                        <div class="label"><label for="stuSex">Student gender</label></div>
                        <div class="field">
                            <select class="input" name="stuSex" id="stuSex">
                                <option value="">Please choose</option> 
                                <option <?php echo $seachData['stuSex'] == 1 ? 'selected="selected"' : '' ;?> value="1">male</option>
                                <option <?php echo $seachData['stuSex'] == 2 ? 'selected="selected"' : '' ;?> value="2">female</option>
                            </select>
                        </div>
                    </div>
                    &nbsp;
                    <div class="form-group">
                        <div class="label"><label for="stuMajor">Student specialty</label></div>
                        <div class="field">
                            <select class="input" name="stuMajor" id="stuMajor">
                                <option value="">Please choose</option> 
                                <volist name="majorList" id="index">
                                <option <?php echo $seachData['stuMajor'] == $index['majorId'] ? 'selected="selected"' : '' ;?> value="{$index.majorId}">{$index.majorName}</option>
                                </volist>
                            </select>
                        </div>
                    </div>
                    &nbsp;
                    &nbsp;
                    <div class="form-button">
                        <button class="button bg-green" type="submit">retrieve</button>
                    </div>
                </form>
            </div>
            <table class="table table-hover">
                <tr>
                    <th width="140">student number</th>
                    <th width="140">(full) name</th>
                    <th width="110">gender</th>
                    <th width="120">contact way</th>
                    <th width="*">Professional name</th>
                    <th width="180">operate</th>
                </tr>
                <volist name="usrList" id="index">
                <tr>
                    <td>{$index.stuCard}</td>
                    <td>{$index.stuRealName}</td>
                    <td>
                        <?php echo $index['stuSex'] == 1 ? '男' : '女'; ?>
                    </td>
                    <td>{$index.stuPhone}</td>
                    <td>{$index.majorName}</td>
                    <td>
                        <input type="hidden" name="id" value="{$index.stuId}"/>
                        <a class="button border-yellow button-little dialogs" name="check" href="#" data-toggle="click" data-target="#checkdialog" data-mask="1" data-width="30%">examine</a>
                        <a class="button border-blue button-little" name="reset" href="#">Reset password</a>
                        <a class="button border-green button-little dialogs" name="delete" href="#" data-toggle="click" data-target="#mydialog" data-mask="1" data-width="30%">delete</a>
                    </td>
                </tr>
                </volist>
                </table>
            <div class="panel-foot text-center">
                <div class ="green-black">{$page}</div>
            </div>
        </div>
        <br />
        <p class="text-right text-gray">Based on<a class="text-gray" target="_blank" href="#"> Team05 </a>build </p>
    </div>

    <div id="checkdialog"> 
        <div class="dialog"> 
            <div class="dialog-head"> 
                <span class="close rotate-hover"></span> 
                <strong>Student details</strong> 
            </div> 
            <div class="dialog-body">
                <div class="form-group">
                    <p>Student student number：  <a class="stuCard" href="#"></a></p>
                    <p>Real name：  <a class="stuRealName" href="#"></a></p>
                    <p>Student specialty：  <a class="majorName" href="#"></a></p>
                    <p>Student gender：  <a class="stuSex" href="#"></a></p>
                    <p>Age of students：  <a class="stuAge" href="#"></a></p>
                    <p>contact way：  <a class="stuPhone" href="#"></a></p>
                    <p>e-mail address：  <a class="stuEmail" href="#"></a></p>
                </div>
            </div> 
        </div> 
    </div>

    <div id="mydialog"> 
        <div class="dialog"> 
            <div class="dialog-head"> 
                <span class="close rotate-hover"></span> 
                <strong>Student operation</strong> 
            </div> 
            <div class="dialog-body">
                <div class="form-group">
                    <p>Are you sure you want to delete this student?</p>
                    <p>O(∩_∩)O~~(Is a recoverable deletion)</p>
                </div>
                <input type="button" class="button bg-main" value="delete" onclick="javascript:recycle();" />
                <button class="button bg-yellow" type="reset">regtet</button>
            </div> 
        </div> 
    </div>
        

    <script>
        var ID = null;
        function recycle(){
            window.location.href = "{:U('Student/toRecycle/id/" + ID +"')}";
        }
        $(function(){
            $(".table a[name='check']").click(function(){
                ID = $(this).parent().find("input[name='id']").val();
               
                $.ajax({
                    url: "{:U('Student/checkDetail')}",
                    data: {
                        id: ID,
                    },
                    type: 'post',
                    dataType: 'json',
                    success: function(data){
                        if(data.state == true){
                            for(var x in data.detail){
                                if(x == 'stuSex'){
                                    $(".dialog ." + x + "").html(data.detail[x] == 1 ? 'male' : 'female');
                                }else{
                                    $(".dialog ." + x + "").html(data.detail[x]);
                                }
                            }
                        }else{
                            return ;
                        }
                    }
                }); 
            });

            $(".table a[name='reset']").click(function(){
                var id = $(this).parent().find("input[name='id']").val();
                window.location.href = "{:U('Student/reset/id/" + id +"')}";
            });

            $(".table a[name='delete']").click(function(){
                var id = $(this).parent().find("input[name='id']").val();
                ID = id;
            });

        });
    </script>