
    <div class="admin">
        <form method="post" class="form-x" action="{:U('Teacher/addUsr')}">
             <div class="form-group">
                <div class="label"><label for="name">Login account</label></div>
                <div class="field">
                    <input type="text" class="input" id="name" name="name" size="50" placeholder="Login account" data-validate="required:Please fill in the user login account number" />
                </div>
            </div>
            <div class="form-group">
                <div class="label"><label for="pwd">Login password</label></div>
                <div class="field">
                    <input type="password" class="input" name="pwd" size="50" placeholder="Login password initialization, if not set, it defaults to 888888" />
                </div>
            </div>
            <div class="form-group">
                <div class="label"><label for="name">Teacher's name</label></div>
                <div class="field">
                    <input type="text" class="input" id="realName" name="realName" size="50" placeholder="Teacher's name" data-validate="required:Please fill in the name of the teacher" />
                </div>
            </div>
            <div class="form-group">
                <div class="label"><label>Teacher gender</label></div>
                <div class="field">
                    <div class="button-group radio"> 
                        <label class="button active">
                            <input name="sex" value="1" checked="checked" type="radio"> male
                        </label> 
                        <label class="button">
                            <input name="sex" value="2" type="radio"> female
                        </label> 
                    </div>
                </div>
            </div>
            <div class="form-button">
                <button class="button bg-main" type="submit">submit</button>
                <button class="button bg-yellow form-reset " type="reset">Reset</button>
            </div>
        </form>   
        <p class="text-right text-gray">Based on<a class="text-gray" target="_blank" href="#">Team05</a>build   </p>
    </div>